html,
body {
  height: 100%;
}

body {
  font-family: "微軟正黑體";
  background: rgb(100, 211, 226);
}

/* 最小尺寸0~575的裝置 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  /* 尺寸變化時的動畫 */
  transition: .2s;
}

:root {
  /* rwd文字 */
  font-size: calc(0.75rem + 1.125vw);
  /* css 原生變數 */
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url("https://picsum.photos/1920/1080/?random=1") no-repeat center/cover; */
}

.container {
  /* --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0; */
  width: 80vw;
  height: 90vh;
  /* padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5); */
  /* margin-right: auto;
  margin-left: auto; */
  box-shadow:
    0px 0px 25px 4px rgba(0, 0, 0, 0.05);
  /* inset 0 65px #333; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* .top {
  width: 77vw;
  height: 70px;
  background: white;
  position: fixed;
  padding: 0px 10px 0px 10px;
} */

.row_top {
  width: 77vw;
  height: 70px;
  position: fixed;
  padding: 0px 10px 0px 10px;
  /* border: 1px solid #999; */
  margin: auto;
  /* padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5); */
  background: #ced2d6;
  /* padding: 0px 5px 0px 5px; */

  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  /* box-shadow: ; */
}

/* .row_top {
  width: 100%;
  height: 70px;
  margin: auto;


  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

.row_top button {
  border: none;
  list-style: none;
  background: white;
  /* color: white; */
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

.row_top img {
  width: 95%;
  padding: 5px 0 0 10px;
  cursor: pointer;
}

.row_top :nth-child(3) {
  margin-left: auto;
}

.content {
  width: 100%;
  height: 660px;
  /* 固定高度 */
  margin-top: 70px;
  background-color: #ffc107;
  text-align: center;
}

.slider_content {
  width: 100%;
  height: 660px;
  /* 固定高度 */
  margin-top: 70px;
  background-color: #ffc107;
  text-align: center;
  /* line-height: 80px; */
}

.slider_content .bigImg {
  width: 100%;
  height: 660px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider_content .bigImg h5,
.slider_content .bigImg h4,
.slider_content .bigImg #btn {
  margin: 0 20px 15px 20px;
}

#btn {
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 50px;
  border: 1px solid #999;
  position: relative;
  overflow: hidden;

  /* background: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#btn::before {
  content: "";
  width: 10px;
  height: 100%;
  /* border-radius: 50%; */
  /* left: 0; */
  /* top: 0; */
  position: absolute;
  background: pink;
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transform: scaleX(0);
  /* transform-origin: center; */
  opacity: 0;
  z-index: -1;
}

#btn:hover::before {
  width: 100%;
  height: 100%;
  transform: scaleX(1);
  color: rgb(251, 251, 251);
  opacity: 0.9;
}

#btn:hover span {
  color: #fff;
}

#btn:hover {
  border: none;
}

.feature_content {
  width: 100%;
  /* height: 660px; */
  background: rgb(255, 255, 255);
  /* height: 660px; */
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature_content .f_contbox {
  width: 100%;
  padding: 0 15px;
}

.feature_content .f_contbox .box1,
.feature_content .f_contbox .box2 {
  width: 100%;
  height: 300px;
  border: 1px solid rgb(237, 233, 233);
  margin: 0 0 40px 0;
  padding: 66px 15px 50px 15px;
  box-shadow:
    0px 0px 10px 2px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.feature_content a {
  list-style: none;
  /* line-height: 25px; */
  font-size: 18px;
  text-decoration: none;
  position: relative;
  /* padding-bottom: 20px; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.feature_content a::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  margin-top: 30px;
  height: 3px;
  /* text-align: center; */
  background-color: #eee;
  z-index: 1;
}

.feature_content p {
  list-style: none;
  font-size: 16px;
}

.feature_content .f_contbox .box3 {
  width: 100%;
  height: 300px;
  border: 1px solid rgb(237, 233, 233);
  /* margin: 0 0 40px 0; */

  padding: 66px 15px 50px 15px;
  box-shadow:
    0px 0px 10px 2px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.recommendHostel {
  width: 100%;
  /* height: 660px; */
  background: rgb(255, 255, 255);
  /* height: 660px; */
  /* padding: 60px 0; */
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommendHostel .recom_img {
  width: 90%;
  height: 50%;
  padding-bottom: 40px;
  left: 10px;
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
}

.recommendHostel .recom_img::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 80%;
  border: 3px solid black;
  top: -16px;
  left: -3px;
  z-index: -1;
}

.recommendHostel .recom_img img {
  width: 90%;
  height: 50%;
}

.recommendHostel h4 {
  padding-bottom: 20px;
}

.recommendHostel .mytab {
  width: 60%;
}

.recommendHostel .recom_cotent {
  padding: 20px;
}

.recommendHostel .mytab label {
  display: inline-block;
  /* padding: 0 0px 0 0;
  margin: 0; */
  padding: 5px 0;
  margin-bottom: 10px;
  font-size: .7rem;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.recommendHostel input:checked {
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  color: orange;
}

.recommendHostel .mytab label:hover {
  color: orange;
}

/* 隱藏選單 */
.recom_cotent input {
  display: none;
}

/* 內文隱藏 */
.recom_p1,
.recom_p2,
.recom_p3 {
  display: none;
}

/* 選擇誰要顯示 */
#recom_tab1:checked~.recom_p1 {
  display: block;
}

#recom_tab2:checked~.recom_p2 {
  display: block;
}

#recom_tab3:checked~.recom_p3 {
  display: block;
}

.recommendHostel a {
  text-decoration: none;
  color: #000;
}

.recommendHostel #recom_btn1 {
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 50px;
  border: none;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;

  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.recommendHostel #recom_btn1::before {
  content: "";
  width: 10px;
  height: 100%;
  /* border-radius: 50%; */
  /* left: 0; */
  /* top: 0; */
  position: absolute;
  background: rgb(255, 255, 255);
  transition: 0.1s cubic-bezier(0.25, 1, 0.5, 1);
  transform: scaleX(0);
  /* transform-origin: center; */
  opacity: 0;
  z-index: -1;
}

.recommendHostel #recom_btn1:hover::before {
  width: 100%;
  height: 100%;
  transform: scaleX(1);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  opacity: 0.9;
}

.recommendHostel #recom_btn1:hover span {
  color: rgb(0, 0, 0);
}

.recommendHostel #recom_btn1:hover {
  border: none;
}



.recommendHostel #recom_btn2 {
  text-align: center;
  padding: 10px;
  width: 300px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;

  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.recommendHostel #recom_btn2::before {
  content: "";
  width: 10px;
  height: 100%;
  /* border-radius: 50%; */
  /* left: 0; */
  /* top: 0; */
  position: absolute;
  background: rgb(255, 255, 255);
  transition: 0.1s cubic-bezier(0.25, 1, 0.5, 1);
  transform: scaleX(0);
  /* transform-origin: center; */
  opacity: 0;
  z-index: -1;
}

.recommendHostel #recom_btn2:hover::before {
  width: 100%;
  height: 100%;
  transform: scaleX(1);
  color: orange;
  border: 1px solid orange;
  opacity: 0.9;
}

.recommendHostel #recom_btn2:hover span {
  color: orange;
}

.recommendHostel #recom_btn2:hover {
  border: none;
}


.ourGallrey {
  width: 100%;
  padding-top: 30px;
  /* height: 660px; */
  background: rgb(255, 255, 255);
  /* height: 660px; */
  /* padding: 60px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ourTeam {
  width: 100%;
  padding-top: 30px;
  /* height: 660px; */
  background: rgb(255, 255, 255);
  /* height: 660px; */
  /* padding: 60px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ourTeam .member {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(87, 31, 31);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ourTeam .member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.member .quote-creative {
  text-align: center;
  padding: 0 15px 30px;
  letter-spacing: .025em;
  background: #eee;
  /* transform: translate3d(0, 0, 0); */
  backface-visibility: hidden;
  /* filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15)); */
}

.member .quote-creative-figure {
  display: inline-block;
  margin-top: -42px;
  border: 15px solid #ffffff;
  border-radius: 50%;
}

.offer {
  width: 100%;
  padding-top: 30px;
  background: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.offer h2 {
  align-self: center;
}

.offer .offer_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.feedback {
  width: 100%;
  padding-top: 30px;
  background: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.feedback .customer {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(87, 31, 31);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.feedback .customer .quote-creative {
  text-align: center;
  padding: 0 15px 30px;
  letter-spacing: .025em;
  background: #ffffff;
  /* transform: translate3d(0, 0, 0); */
  backface-visibility: hidden;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
  /* z-index: -1; */
  /* clear: both; */
  /* box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15); */
}

.feedback .customer .quote-creative-figure {
  display: inline-block;
  margin-top: -62px;
  border: 15px solid #ffffff;
  border-radius: 50%;
  background-color: #fff;
  /* box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15); */

}

.feedback .customer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.saveCash {
  width: 100%;
  margin-top: 20px;
  padding-top: 30px;
  background: url("https://picsum.photos/300/300/?random=123");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}






/* --------------------
 */

/* 40px */
.toTop-arrow {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.toTop-arrow::before,
.toTop-arrow::after {
  width: 18px;
  height: 5px;
  border-radius: 3px;
  background: #f90;
  position: absolute;
  content: "";
}

.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.5rem;
}

.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.5rem;
}

.toTop-arrow:focus {
  outline: none;
}

/* 48px */
.toTop-arrow {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.toTop-arrow::before,
.toTop-arrow::after {
  width: 25px;
  height: 6px;
  border-radius: 3px;
  background: #f90;
  position: absolute;
  content: "";
}

.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.42rem;
}

.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.42rem;
}

.toTop-arrow:focus {
  outline: none;
}

/* 56px */
.toTop-arrow {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.toTop-arrow::before,
.toTop-arrow::after {
  width: 31px;
  height: 7px;
  border-radius: 3px;
  background: #f90;
  position: absolute;
  content: "";
}

.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.4rem;
}

.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.4rem;
}

.toTop-arrow:focus {
  outline: none;
}